:root {
  --primary-color: theme('colors.primary.500');
  --primary-color-hint: theme('colors.primary.800');
}

.link {
  border-color: transparent;
  border-bottom-width: 1px;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
}

a.group-link-underline .link-underline {
  border-bottom-width: 0;
  background-size:
    100% 2px,
    0 2px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition:
    background-size 0.5s ease-in-out,
    background-position 0.5s ease-in-out;
}

a.group-link-underline .link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
}

a.group-link-underline .link-underline-brand {
  background-image: linear-gradient(transparent, transparent), linear-gradient(var(--primary-color), var(--primary-color-hint));
}

a.group-link-underline .link-underline-white {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#ffffff, #f5f5f5);
}

a.group-link-underline:hover .link-underline {
  background-size:
    0 2px,
    100% 2px;
  background-position:
    100% 100%,
    0 100%;
}
